/* -------------------- ASPECT RATIO -------------------- */
/* -------------------- ASPECT RATIO -------------------- */

	@mixin aspect-ratio($width, $height) {
		position: relative;
		&:before {
			display: block;
			content: "";
			width: 100%;
			padding-top: ($height / $width) * 100%;
		}
		> .ar-content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

/* -------------------- CLEAR FORM STYLE -------------------- */
/* -------------------- CLEAR FORM STYLE -------------------- */

	@mixin clear-form-style(){
		background: none;
		border-radius: 0;
		border: none;
		box-shadow: none;
		outline: none;
	}

/* -------------------- TRANSITION ALL VALUES -------------------- */
/* -------------------- TRANSITION ALL VALUES -------------------- */

	@mixin transall($speed:250ms){
		-webkit-transition: all $speed ease-in-out;
		-moz-transition: all $speed ease-in-out;
		-o-transition: all $speed ease-in-out;
		transition: all $speed ease-in-out;
	}

/* ------------------------------------------ THE TRIANGLE TAIL ------------------------------------------ */
/* ------------------------------------------ THE TRIANGLE TAIL ------------------------------------------ */

	@mixin triangle($color:#FF0000,$direction:bottom,$length:15px,$width:6px){

		&:after {	
			border-style:solid;
			content:"";
			display:block;
			position:absolute;
			width:0;
			z-index: 10;

			@if $direction == top {
				border-color:$color rgba(255,255,255,0.0);
				border-width:0 $width $length;
				bottom:auto;
				left:50%;
				margin:0 0 0 (-$width);
				right:auto;
				top:-$length;

			} @else if $direction == right {
				border-color:rgba(255,255,255,0) $color;
				border-width:$width 0 $width $length;
				bottom:auto;
				left:auto;
				margin:(-$width) 0 0 0;
				right:-$length;
				top:50%;

			} @else if $direction == left {
				border-color:rgba(255,255,255,0) $color;
				border-width:$width $length $width 0;
				bottom:auto;
				left:-$length;
				margin:(-$width) 0 0 0;
				right: auto;
				top: auto;

			} @else {
				border-color: $color rgba(255,255,255,0);
				border-width:$length $width 0;
				bottom:-$length;
				left:50%;
				margin:0 0 0 (-$width);
				right: auto;
				top: auto;
			}

		}

	}