// -------------------- BASE -------------------- //
// -------------------- BASE -------------------- //

	html,
	body {
	@include font(sans);
	height: 100%;
	}

	body {
	background-color: $body-bg;
	}

// -------------------- LAYOUT -------------------- //
// -------------------- LAYOUT -------------------- //

	#content-wrap {
	@include display-flex;
	@include flex-direction(column);
	min-height: 100%;
	}

// -------------------- MAIN HEADER -------------------- //
// -------------------- MAIN HEADER -------------------- //

	#main-header {
	background-color: $b;
	color: $w;
	@include display-flex;
	margin-top: 0;
	padding: 15px 0;
	}

// -------------------- MAIN FOOTER -------------------- //
// -------------------- MAIN FOOTER -------------------- //

	#main-footer {
	background-color: $gray-500;
	color: $w;
	@include display-flex;
	margin: auto 0 0 0;
	padding: 15px 0;
	}