// NOTES
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Slabo+27px');

/* BASE WEB FONTS */
.font-sans {
font-family: 'Roboto', sans-serif;
}

.font-serif {
font-family: 'Slabo 27px', serif;
}

.font-condensed {
font-family: 'Roboto Condensed', sans-serif;
}